* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 15pt arial;
}

header {
    color: whitesmoke;
    text-align: center;
    margin-top: 70px;
    padding-bottom: 30px;

    text-shadow: 4px 3px 1px black;
}

section {
    text-align: center;
    padding: 15px;
    width: 45rem;
    height: 500px;
    margin: auto;

    background-color: white;
    border-radius: 10px;
    box-shadow: 19px 18px 5px rgba(0, 0, 0, 0.274);


    object-fit: cover;

}
#hi {
   font: normal 19pt arial;
    line-height: 49px;
}


#foto > img {
    position: absolute;
    left: 550px;
    margin-top: 50px;
    margin-left: 17px;

    width: 300px;
    height: 300px;
    border-radius: 50%;

    z-index: 99;
    

}
#foto2 > img {
    position: relative;

    top: 40px;
    left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    z-index: 1;
    

}



footer {
    text-align: center;
    margin-top: 100px;
    font-family: italic;
    color: aliceblue;

    text-shadow: 1px 1px 2px black;
}